# Python cache
__pycache__/
**/__pycache__/

*.pyc
*.pyo
*.pyd

# Log files
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# Conda
.env
.venv
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Semantic MLS generated/build files
surface_reconstruction/semantic_MLS_surface_reconstruction_pipeline/build_pcl_mls/
surface_reconstruction/semantic_MLS_surface_reconstruction_pipeline/docs/
data/
outputs/
/test_data_output/
docs/
*.npy
